.image {
width: 100%;
height: auto;
display: block;
}

.gallery {
    list-style: none;
    text-decoration: none;
    display: block;
}

.gallery li {
    flex-basis: calc((100% - 90px) / 3);
  }
  
  .gallery li:not(:last-child) {
    margin-right: 30px;
  }